@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="text-align:center;">
    <h1>Adding a Homework Entry</h1>
    <div class="form-horizontal">
        @Html.Label("Relaxation")
        <select name="Relaxation" id="Relaxation">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>

        </select>
        <br />
        @Html.Label("Fluency")
        <select name="Fluency" id="fluency">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br />
        @Html.Label("Tension")
        <select name="Tension" id="tension">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br />



    </div>
</body>
</html>
