

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>

<div class="col-lg-12"></div>
<div style="text-align:center" class="form-group">
    <h2>Additional Information</h2>
   
    @Html.Label("Tension Rating:") <br />


    <select id="Tension" style="width: 100px;">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <br />
    @Html.Label("Relaxation Rating:") <br />
    <div>
        <select id="Relax" style="width: 100px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <br />
    @Html.Label("Comments:") <br />
    <textarea maxlength="400" id="comments" style="height: 300px; width: 300px;"></textarea> <br />
    

    <button id="myButton" class="btn btn-danger" style="height: 40px; width: 80px;" onclick="getRatings(@ViewBag.id)">Submit</button>

</div>
<div class="col-lg-4"></div>


<script src="~/Scripts/Ratings.js"></script>

